<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        div.layout {background-color:lightblue;}
        div.view {border:thin solid black; margin:10px 0;}
    </style>
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    @RenderSection("Header")
    <div class="layout">This is part of the layout Header</div>

    @RenderSection("Body")
    <div class="layout">This is part of the layout Body</div>

    @if (IsSectionDefined("Footer"))
    {
        @RenderSection("Footer")
        <div class="layout">This is part of the layout Footer</div>
    }
    else
    {
        <h4>This is the defalut footer</h4>
    }

    @*@RenderSection("Footer", false) 更优雅*@

</body>
</html>