<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style type="text/css">
        .field-validation-error{color:#f00;}
        .vaidation-summary-errors{color:#f00;font-weight:bold;}
        .input-validation-error{border:2px solid #f00;background-color:#fee;}
        input[type="checkbox"].input-validation-error{outline:2px solid#f00;}
    </style>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>